@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

$montserrat: Montserrat, sans-serif;
$opensans: Opensans, sans-serif;
$black: #455a64;  //blue-gray darken-2
$gray: #37474f; //blue-gray darken-3
$white: #f5f5f5; //grey lighten-4
$orange: #ff5722; //deep-orange
$blue: #00e5ff; //cyan accent-3
$green: #1de9b6; //teal accent-3

html, body {
    height: 100%;
    background-color: $white;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#logo {
  width: 200px;
  height: auto;
  border-radius: 40px;
}

#landing-container {
  font-family: $montserrat;
  height: 100%;
  color: $white;
}

#tagline {
  font-family: $opensans;
}

#logotype {
  color: $white;
}

#logotype-highlight {
  color: $blue;
}

.login-text-and-button #login-buttons-facebook {
  background: #3b5998;
  background-color: #3b5998;
  border-radius: 0;
  border-color: none;
  border: none;
  width: 100%;
}

#login {
  margin-top: 10px;
  font-family: $opensans;
  width: 100%;
}

#bottomPanel {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $black;
}
